In [17]:
df['Annual Mean'] = df['Annual Mean'].fillna(df['Hourly Mean'] * 2080)

In [21]:
df.loc[df['Job Title'].str.contains('Musician')].head()

,State,State Abbreviation,Job Title,Occupation Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile,USA Region
255,Alabama,AL,Musicians and Singers,detailed,230.0,0.110,13.71,28516.8,9.01,10.61,12.21,13.98,22.31,NaN,NaN,NaN,NaN,NaN,Southeast
1593,Arizona,AZ,Musicians and Singers,detailed,390.0,0.123,55.25,114920.0,21.48,45.56,48.91,59.56,107.54,NaN,NaN,NaN,NaN,NaN,Southwest
2319,Arkansas,AR,Musicians and Singers,detailed,80.0,0.060,60.08,124966.4,18.64,18.64,20.95,100.48,NaN,NaN,NaN,NaN,NaN,NaN,Southeast
3064,California,CA,Musicians and Singers,detailed,5540.0,0.309,51.73,107598.4,16.00,25.35,37.86,63.55,84.62,NaN,NaN,NaN,NaN,NaN,West
3882,Colorado,CO,Musicians and Singers,detailed,300.0,0.107,27.28,56742.4,16.13,19.28,22.28,28.88,39.97,NaN,NaN,NaN,NaN,NaN,West

In [23]:
df['Hourly Mean'] = df['Hourly Mean'].fillna(df['Annual Mean'] / 2080)

In [22]:
df.loc[df['Job Title'].str.contains('Coaches')].head()

,State,State Abbreviation,Job Title,Occupation Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile,USA Region
253,Alabama,AL,Coaches and Scouts,detailed,2880.0,1.404,NaN,54840.0,NaN,NaN,NaN,NaN,NaN,19920.0,21930.0,34160.0,59250.0,96540.0,Southeast
952,Alaska,AK,Coaches and Scouts,detailed,470.0,1.506,NaN,46510.0,NaN,NaN,NaN,NaN,NaN,27350.0,31110.0,38170.0,54820.0,82940.0,West
1590,Arizona,AZ,Coaches and Scouts,detailed,3470.0,1.108,NaN,62240.0,NaN,NaN,NaN,NaN,NaN,34090.0,37810.0,47770.0,62810.0,95740.0,Southwest
2318,Arkansas,AR,Coaches and Scouts,detailed,1720.0,1.355,NaN,48020.0,NaN,NaN,NaN,NaN,NaN,26000.0,27600.0,32830.0,48500.0,76550.0,Southeast
3059,California,CA,Coaches and Scouts,detailed,28700.0,1.599,NaN,65560.0,NaN,NaN,NaN,NaN,NaN,34200.0,36640.0,47860.0,67090.0,104190.0,West